.header{
    padding: 10px;
    box-sizing: border-box;
    background-color: #f8f8f8;
    height: 50px;
}
.btn-login-and-register{
    border: 1px solid #cdcdcd;
    padding: 10px 20px;
    border-radius:10px;
    cursor: pointer;
    transition: 0.5s;
    bottom: 4px;
    overflow: hidden;
    width: 15px;
    position: relative;
}
.btn-login-and-register span
{
    position: absolute;
    left: 70px;
    opacity: 0;
    transition: 0.2s;
}
.btn-login-and-register:hover {
    width: 100px;
    border: 1px solid #565656;
}
.btn-login-and-register:hover .text-btn-login-and-register{
    opacity: 1;
}
.view-item , .view-items{
    height: calc(100vh - 50px);
}
.view-items{
    padding: 20px;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.one-item{
    width: 230px;
    height: 330px;
    list-style: none;
    box-shadow: 1px 1px 10px rgba(172, 172, 172, 0.5);
    overflow: hidden;
    background-color: #f6f6f6;
    border-radius: 10px;
    margin: 10px 10px;
}
.one-item img{
    width: 100%;
}
.items{
    width: 200px;
    height: 200px;
    margin: 50px;
    cursor: pointer;
    border: 2px solid #5858ff;
    border-radius: 10px;
}
.one-item p span{
    margin: 0 10px;
}
.item-img-all{
    transition: 0.2s;
}
.items:hover .item-img-all{
    transform:scale(1.2);
}
.btn-dec{
    width: 80%;
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #ffa400;
    border: 1px solid #ffa800;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    margin: auto;
    transition: 0.2s;
}
.btn-dec:hover{
    background-color:#ffa400 ;
    color: white;
}
.btn-buy{
    width: 80%;
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #008000;
    border: 1px solid #008000;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px auto;
}
.btn-buy:hover{
    background-color: #008000;
    color: white;
}
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background-color: #dbdbdb;
    border-radius: 100px;
}
.page-view-item{
    width: 80%;
    display: none;
    height: 90vh;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 15px;
    box-sizing:border-box ;
    z-index: 15;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0,0,0,.5);
    transform: translate(-50%,-50%);
}
.group-btn-cls i{
    transition: 0.2s;
}
.group-btn-cls i:hover {
    color: #ff5454;
    transform: rotate(180deg);
}
.view-dec-item-show{
    height: 80vh;
}
.view-video-group{
    width: 90%;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.view-dec-item-show-video{
    position: absolute;
}
.view-dec-item-show p {
    line-height: 30px;
}
@media all and (max-width: 700px) {
    .view-item{
        flex-direction: column!important;
    }
}
@media all and (max-width: 400px) {
    .one-item{
        width: 80%;
        margin:10px auto;
    }
}
